<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>using ejs</title>
    <style>
        body{
            text-align: center;

        }
    </style>
</head>
<body>
    <h1>learnig about ejs</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis officiis non ea nihil eos facere distinctio porro necessitatibus inventore cupiditate? Dolores error veritatis nostrum dolorum.
    </p>
    <button>click me</button>
    
</body>
</html>